

<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  users.forEach(function(user){ %>
    <%  user.post.forEach(function(posts){ %>
<h2 style="font-weight:bolder"><%=posts.title%></h2>
<h4 style="color:blue"><%=user.username%></h4>

<p>
<%=posts.content%>
<a href="/<%=user._id%>/<%=posts._id%>">Read More</a>
</p>

<% }) %>
<% }) %>


<%- include("partials/footer"); -%>
